body{
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  height: auto;
}


.carousel-outer {
  width: 100%;  
  overflow: hidden;
  position: relative;
  
  
}

.carousel-container {
  width: calc(200px * 16);
  height: 100%;
  display: flex;
  animation: scroll 40000ms linear infinite; /* La duración de 15 segundos puede ajustarse según la velocidad deseada */
  -webkit-animation: scroll 40000ms linear infinite;
}

.carousel {
  display: flex;
  width: 200%; /* Ajusta el ancho al doble para acomodar las imágenes duplicadas */
}

.carousel img {
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7)); /* Ajusta el valor para el número de imágenes que deseas mostrar a la vez */
  }
}

.centered-list {
 
  display: flex;
  justify-content: center;
}

header{
background-color: #333;
color: #fff;
padding: 10px;
display: flex;
flex-wrap: wrap;
align-items: center;
position: relative;
}

header h1{
font-family: "Dancing Script";
font-size: 70px;
cursor: default;
transition: 0.5s ease;
}

header h1:hover{
transform: scale(1.3);
}
header div{
margin-left: auto;
text-align: center;
}
header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  
}
header ul li{
  margin-right: 40px;
  transition: 0.5s ease;
}

header ul li:hover{
transform: scale(1.3);
}

header ul li a{
  
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  font-family: "Comfortaa"; 
}
header ul li a:hover{
  border-bottom-color: #fff;
  
}



.logo {
width: auto;
height: 8em;
display: flex;
justify-content: left;
cursor: pointer;
transform: translateX(30%);
}

/* Estilo específico para la imagen dentro del div */
.logo img {
  max-width: 30em; /* La imagen no superará el ancho del div */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  transition: 0.3s ease;
}

.logo :hover{
  transform: scale(1.5);
  }
  

@media (max-width:390px){
  .logo img {
    max-width: 15em;
    height: auto;
    transform: translateX(-45%);
    transition: none;
  }

  .logo :hover{
    transform: none;
  }
}

#container{
  height: 150px;
  margin-top: 5%;
}

.flip-card {
  width: auto;
  height: auto;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100px;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ffe3e3;
  color: black;
  text-align: center;
  font-family: Borel;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(155, 44, 44);
}

.flip-card-back {
  background-color: #ffe3e3;
  color: black;
  transform: rotateY(180deg);
  text-align: center;
  font-family: Borel;
  font-size: x-large;
  font-weight: bold;
  color: rgb(155, 44, 44);
}

.faq-section {
  max-width: 600px;
  margin: 0 auto;
  background-color: #d5daf26b;
  padding: 2%;
  border-radius: 5px;
}

.faq-section h2{
  font-family: Comfortaa;
  letter-spacing: 2px;
   
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  background-color: #b898ff70;
  padding: 10px;
  /*font-weight: bold;*/
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-family: Comfortaa;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  font-family: Lisu Bosa;
  font-size: 20px;
  color: rgb(77, 76, 76);
  background-color: #b898ff29;
  margin-top: 1%;
  line-height: 1.5;
}

.faq-answer p {
  padding: 10px;
}

.faq-item.active .faq-answer {
  max-height: 500px; /* Altura máxima suficientemente grande para mostrar todo el contenido, ajusta según tus necesidades */
}


/* Smartphones en orientación vertical */
@media (min-width:400px) and (max-width: 576px) {
  .logo{
    transform: translateX(-15%);
  }
  
}

@media screen and (max-width: 64in) {
.carousel img {
  width: 100%;
  height: "auto";
}
}

@media screen and (min-width: 65in) {
.carousel img {
  width: 100%;
  height: 25%;
  
}
}


